@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
:root {
   --White: hsl(0, 0%, 100%);
   --Slate-300: hsl(212, 45%, 89%);
   --Slate-500: hsl(216, 15%, 48%);
   --Slate-900: hsl(218, 44%, 22%);
}

body {
   font-family: "Outfit", sans-serif;
   font-size: 15px;
   font-style: normal;
   max-width: 1440px;
   margin: 0 auto;
}
.content {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--Slate-300);
}
.card {
   background-color: var(--White);
   width: 320px;
   height: 499px;
   padding: 16px;
   box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.047);
   border-radius: 20px;
   overflow: hidden;
   .card-img {
      max-width: 100%;
      margin-bottom: 16px;
      border-radius: 10px;
   }
   .card-content {
      padding: 0 16px;
      text-align: center;
      .title {
         line-height: 1.2;
         font-size: 22px;
         font-weight: 700;
         margin-bottom: 16px;
         color: var(--Slate-900);
      }
      .subtile {
         line-height: 1.4;
         font-size: 15px;
         font-weight: 400;
         color: var(--Slate-500);
      }
   }
}

.attribution {
   display: flex;
   position: absolute;
   bottom: 120px;
   width: 100%;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
   a {
      font-weight: 700;
      color: var(--Slate-900);
   }
}

@media (max-width: 768px) {
   .attribution {
      bottom: 80px;
      font-size: 12px;
      a {
         font-weight: 400;
      }
   }
}
